<nav class="ui inverted stackable menu" id="navbar">
    <div class="ui container">

        <% if(pageName == 'index' ) { %>
            <a href="#" class="header item">
                <img class="logo" src="/images/pepe.png">Patoka Memes
            </a>
        <% } else { %>
            <a href="/" class="header item">
                <img class="logo" src="/images/pepe.png">Patoka Memes
            </a>
        <% } %>


        <div class="right menu">
            <div class="item">
                <% if(pageName == 'login' ) { %>
                    <a class="ui inverted button" href="#">Log in</a>
                <% } else { %>
                    <a class="ui inverted button" href="/login">Log in</a>
                <% } %>
            </div>
            <div class="item">
                <% if(pageName == 'register' ) { %>
                    <a class="ui inverted button" href="#">Sign Up</a>
                <% } else { %>
                    <a class="ui inverted button" href="/register">Sign Up</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>