<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="images/pepe.png" type="image/png">
    <title>patokaMemes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>
    <div id="app">
        <% var pageName = "login" %>
        <% include partials/navbar %>
            <!-- navbar -->

        <div id="content">
    
            <div class="ui middle aligned center aligned grid" id="register-form">
                <div class="container">
                    <h2 class="ui image header">
                        <img src="images/pepe.png" class="image">
                        <div class="content">
                            Log-in to your account
                        </div>
                    </h2>
                    <div class="ui negative message" v-show="loginError">
                        <div class="header">
                            <span class="center">Wrong username or password</span>
                        </div>
                    </div>
                    <form class="ui large form">
                        <div class="ui stacked segment">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input id="usernameSigninInput" type="text" name="username" placeholder="Username">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input id="passwordSigninInput" type="password" name="password" placeholder="Password">
                                </div>
                            </div>
                            <button @click="login" type="button" class="ui fluid large black submit button">Login</button>
                        </div>

                        <div class="ui error message"></div>

                    </form>

                    <div class="ui message">
                        New to us?
                        <a href="/register">Sign Up</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="javascripts/model.js"></script>
</body>

</html>