<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="images/pepe.png" type="image/png">
    <title>patokaMemes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>
    <div id="app">
        <% var pageName = "profile" %>
        <% include partials/navbar %>
            <!-- navbar -->

        <!-- <div id="content">

            

            <div class="ui centered grid">
                <div class="row">
                    <div class="ui centered card" id="profile-info">
                        <div class="center">
                            <div class="user-avatar">
                                <div class="crop">
                                    <img src="/users/<%=user.id%>/avatar">
                                </div>
                            </div>
                        </div>
                        
                        <div class="content">
                            <a class="header"><%=user.username%></a>
                            <div class="meta">
                                <a>Goveo</a>
                            </div>
                        </div>
                    </div>
        
                    <form class="ui form" action="/profile/updateAvatar" method="POST" enctype="multipart/form-data">
                        <div class="field">
                            <label>Change avatar</label>
                            <input type="file" name="avatar" placeholder="Avatar">
                        </div>
                        <button class="ui button" type="submit">Submit</button>
                    </form>
                </div>
            </div>

        </div> -->

        <div id="content">

            <h1 class="center">Choose better meme</h1>

            <div class="ui centered grid" id="memeChooser">
                <div class="ui center special cards">

                    <div class="ui centered card" id="profile-info">
                        <div class="row">
                            <div class="column">
                                <div class="blurring dimmable image">
                                    <div class="ui dimmer center">
                                        <div class="content">
                                            <div class="center">
                                                <div class="ui inverted button" @click="changeAvatar">Change avatar</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-avatar">
                                        <div class="crop">
                                            <img src="/users/<%=user.id%>/avatar">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="ui card">
                                    <div class="content">
                                        <div class="header"><%=user.username%></div>
                                        <div class="meta">
                                            Name Surname
                                        </div>
                                        <p>Some infoooo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                      
                </div>
                <div class="row">
                    <div class="ui message">
                        Wanna change something?
                        <a href="/settings">Settings</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="/javascripts/model.js"></script>
    <script>
        $('.special.cards .image').dimmer({
            on: 'hover'
        });
    </script>
</body>

</html>