.center {
	display: flex;
	justify-content: center;
}

#meme-chooser {
	margin-top: 56px;
}

.meme-image { 
	margin: auto;
	margin-left: 10px;
	margin-right: 10px;
}

#register-form {
	margin-top: 56px;
}